.menu-container {
  display: none;
}

.menu-list {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 40px 0;
  background-color: #000000;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.menu-items {
  margin: 0;
}

.menu-item-email {
  max-width: 320px;
  margin: 0 0 18px;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.menu-item-close-session {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #a9a9a9;
  text-decoration: none;
}

.menu-item-close-session:hover {
  color: rgba(169, 169, 169, 0.6);
}

@media screen and (max-width: 581px) {
  .menu-container {
    display: flex;
    justify-content: flex-end;
    padding-right: 30px;
  }
}
