.header {
  max-width: 880px;
  margin: 0 auto;
  padding: 45px 0 40px;
}

.header__line {
  display: flex;
  justify-content: space-between;
  max-width: 880px;
  height: 74px;
  border: none;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(54, 54, 54, 0.7);
}

.header__logo {
  max-width: 173px;
  max-height: 33px;
}

.header__link {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-decoration: none;
  color: #ffffff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header__data {
  display: flex;
}

.header__email {
  margin: 0;
  padding-right: 23px;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
}

.header__link_close-session {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #a9a9a9;
  text-decoration: none;
}

@media screen and (max-width: 880px) {
  .header {
    max-width: 581px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 581px) {
  .header {
    max-width: 320px;
    padding: 28px 0 42px;
  }

  .header__line {
    height: 56px;
  }

  .header__logo {
    max-width: 126px;
    max-height: 24px;
    padding-left: 27px;
  }
}
