.header {
  max-width: 880px;
  margin: 0 auto;
  padding: 45px 0 40px;
}

.header-toggled-open {
  display: none;
}

.header__line {
  display: flex;
  justify-content: space-between;
  max-width: 880px;
  height: 74px;
  border: none;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(54, 54, 54, 0.7);
}

.header__logo {
  max-width: 173px;
  max-height: 33px;
  padding-left: 30px;
}

.header__content_link {
  padding-right: 30px;
}

.header__link {
  color: #ffffff;
  text-decoration: none;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

.header__link:hover {
  color: rgba(255, 255, 255, 0.6);
}

.header__data {
  display: flex;
}

.header__email {
  max-width: 500px;
  margin: 0;
  padding-right: 23px;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.header__link_close-session {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #a9a9a9;
  text-decoration: none;
}

.header__link_close-session:hover {
  color: rgba(169, 169, 169, 0.6);
}

@media screen and (max-width: 880px) {
  .header {
    max-width: 581px;
    margin: 0 auto;
  }

  .header__email {
    max-width: 200px;
  }
}

@media screen and (max-width: 581px) {
  .header {
    max-width: 320px;
    padding: 28px 0 42px;
    border-top: 1px solid rgba(54, 54, 54, 0.7);
  }

  .header__line {
    height: 56px;
  }

  .header__logo {
    max-width: 126px;
    max-height: 24px;
    padding-left: 27px;
  }

  .header__data {
    display: none;
  }

  .header-toggled-open {
    display: block;
    max-width: 581px;
    height: 142px;
  }
}

@media screen and (max-width: 450px) {
  .header__link {
    font-size: 14px;
    line-height: 17px;
  }
}
