.session {
  max-width: 880px;
  margin: 0 auto;
  padding-top: 20px;
}

.session__form {
  max-width: 358px;
  margin: 0 auto;
}

.session__form_title {
  margin: 0 auto;
  padding-bottom: 50px;
  font-weight: 900;
  font-size: 24px;
  line-height: 100%;
  text-align: center;
}

.session__form_field {
  background-color: #000000;
  width: 358px;
  height: 27px;
  border: none;
  border-bottom: 2px solid rgba(204, 204, 204, 1);
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  padding: 0;
  color: #ffffff;
}

.session__form_field:focus {
  outline: none;
}

.session__form_field-email {
  margin: 0 0 30px;
}

.session__form_field-password {
  margin: 0 0 216px;
}

.session__form_button {
  border: 0;
  padding: 0;
  margin-bottom: 15px;
  width: 358px;
  height: 50px;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 1);
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  text-align: center;
}

.session__form_link {
  color: #ffffff;
  display: block;
  text-decoration: none;
  margin-bottom: 80px;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  text-align: center;
}
